<!--><button class="btn btn-outline-primary" routerLink="/create-shipper">Add Shipper</button> <!-->

<!--><button class="btn btn-outline-primary" routerLink="/shipper-list">List Shippers</button><!-->

<div class="container">
  <h2></h2> <!--removed name stock api-->
  <router-outlet></router-outlet>
</div>

