
<ngx-charts-advanced-pie-chart 
      [results]="data"
      [gradient]="true" 
      [view]="[800,500]">
</ngx-charts-advanced-pie-chart>
<div><button class="btn btn-outline-primary"(click)="check(0,0)">
			Get my expenditure</button></div>